# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven and eclipse
target/
.classpath
.project
.settings/

# logical link to enable local browsing of docs
/_ETC/http-server/hiv-cds

# java/eclipse files
/target/
.classpath
.project
/.settings/


